<div class=" container mt-5 pt-5">



    <div class=" row">
        <div class=" col-md-12">


            <h1>About the site</h1>
            <p class=" text-muted">Sarha site helps you to identify your disadvantages and advantages by obtaining criticism from your employees and friends in complete confidentiality without the knowledge of the sender</p>
            <hr>
            <h3 class=" mb-2">FAQs</h3>
            <h4>Will Saharah site reveal the identities of the senders?</h4>
            <p class=" text-muted mb-4">Sarha site will not reveal the identity of the registered senders to users without their consent</p>
            <h4>Is it a hacker site?!</h4>
            <p class=" text-muted mb-4">Frankly speaking, the site does not steal data, but programs and websites that imitate it may do so</p>
            <h4>Can visitors frankly view my messages?</h4>
            <p class=" text-muted mb-4">They can't unless you share your messages yourself</p>
            <h4 > Can messages be answered?</h4>
            <p class=" text-muted mb-4">It is not possible to respond at the moment, the status of this option is currently being studied</p>

        </div>
    </div>
</div>
